.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.hbuilderx
.vite
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

./unpackage/dist/*
./unpackage/resources/*
unpackage
